
Code/CNN/Conv1D_pred.xlsx
Code/CNN/CNN_Final.py
Code/CNN/Conv_network_Tensorflow.ipynb
Code/CNN/Doc1_draft.docx
Code/SVR/SVM-Regression.pdf
Code/Multiple Regression OLS stats/Otw4_mgr.xlsx
Code/Multiple Regression OLS stats/MLP_pred.xlsx
Code/CNN/Otw4_mgr.xlsx
Code/Multiple Regression OLS stats/Multiple_Regression_Unsplitted.ipynb
